.cuadro {
  position: absolute;
  padding: 1vw;
  background-color: rgb(54, 54, 54);
  width: 10vw;
  height: 4vw;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 90%;
  border-radius: .7vw;
  transition: .5s;
  text-align: center;
  display: block;
  
}

.velocidadact {
font-size: 5vh;  
color:white;
position:fixed;
top:5.5vh;
left:50%;
transform:translate(-50%,-50%);
font-family: 'Orbitron', sans-serif;
}

.gasolina{
position:fixed;
top:8.5vh;
left:2.6vw;
font-size: 1vw;
color: rgba(255, 255, 255, 0.6);
}

.gasolinact{
font-size: 1.5vh;  
color:white;
position:fixed;
top:9.5vh;
left:40%;
transform:translate(-50%,-50%);
font-family: 'Oswald', sans-serif;
}

.daño {
position:fixed;
top:8.5vh;
right:40%;
font-size: 1vw;
color: rgba(255, 255, 255, 0.6); 
}

.dañoact{
font-size: 1.5vh;  
color:white;
position:fixed;
top:9.4vh;
right:12%;
transform:translate(-50%,-50%);
font-family: 'Oswald', sans-serif;
}

.calles {
  position: absolute;
  padding: 1vw;
  width: 15vw;
  height: 2vw;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 3vw;
  border-radius: .7vw;
  box-shadow: 0.2vw 0.2vw 0.2vw 0.2vw gray;
  transition: .5s;
  text-align: center;
  display: block;
}

.marchas {
position: absolute;
width: 1.5vw;
height: 1.5vw;
border: .2vw solid gray;
border-radius: .5vw;
top: 30%;
right: 1vw;

}

.marchact {
font-size: 3vh;  
color:white;
position:fixed;
top: 47%;
right: 1.2vw;
transform:translate(-50%,-50%);
font-family: 'Oswald', sans-serif;
}